# Ignore node_modules and builds
node_modules/
.next/
out/
build/

# Ignore logs
*.log

# Ignore git
.git/
.github/

# Ignore local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
